@import "tailwindcss";

.navbar {
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  max-width: 1050px;
  margin: auto;
  color: #fff;
}

.fullNavContainer {
  background-color: #333;
}

.links a {
  padding: 0 10px;
}

.profile-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  row-gap: 3rem;
  column-gap: .5rem;
  max-width: 1050px;
  margin: auto;
  margin-bottom: 25px;
  align-items: stretch;
}

@media screen and (max-width: 508px) {
  .profile-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}

.card-wrapper {
  display: flex;
  flex-direction: column;
}

.card {
    max-width: 250px;
    min-height: 325px;
    height: 100%;
    border-radius: 5%;
    box-shadow: 0 0 3px #000;
    padding: 5px 10px;
    margin: 0 25px;
    text-align: center;
    overflow-wrap: anywhere;
    
}

.column {
    display: flex;
    justify-content: center;
}

.profile-image {
    width: 230px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 10px;
}

.name, .title, .email, .desc {
    word-wrap: break-word;
    overflow-wrap: anywhere;
    hyphens: auto;
}

form {
  max-width: 1050px;
  padding: 10px 50px;
  margin: auto;
}

.header {
  font-size: 32pt;
  padding: 0 50px;
  margin: auto;
  max-width: 1050px;
}

.filterBtn {
  border: 1px solid #000;
  margin: 3px;
  height: 30px;
  display: inline-flex;
  padding: 0 3px;
}

.individualProfileContent {
  margin: 10px 50px;
  max-width: 1050px;
  border: 5px #ECEDEC solid;
  border-radius: 50px;
  background-color: #ECEDEC;
  padding: 25px 0px;
}

.individualColumns {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

.imgContainer {
  height: 300px;
  width: 300px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
}

.imgContainer img {
  object-fit: cover;
}

.infoContainer {
  padding: 10px;
  width: 300px;
}

.btnContainer {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

.homePage {
  padding-left: 50px;
  text-decoration: underline;
}

.btnContainer .infoButton {
  background-color: #cfa422;
  border-radius: 10px;
  padding: 5px 10px;
  width: 150px;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out
}

.btnContainer .infoButton:hover {
  background-color: #69530f;
  color: #ffffff;
}

.form-container {
    display: flex;
    flex-direction: column;
    max-width: 750px;
    margin: auto;
    border: 1px solid #333;
    border-radius: 10px;
    padding: 15px;
    background-color: #F0F0F0;
    margin-top: 20px;
}

input[type=text], input[type=email], textarea {
  border: 1px #000 solid;
}

#submit {
    margin-top: 15px;
    background-color: #333;
    color: #fff;
}

.section {
    padding: 10px 75px 0 75px;
    max-width: 1200px;
    margin: 0 auto;
}